footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
}
#cars {
  background-color: #4CAF50; /* Green */
  border: 1px solid black;
  color: white;
  padding: 9px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

